<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<channels>

    <!-- Menu Principal -->
    <channel>
        <name>[B]🏰 MENU PRINCIPAL[/B]</name>
        <thumbnail>https://archive.org/download/addonfanart2/iconaddon.png</thumbnail>
        <fanart>https://archive.org/download/addonfanart2/addonfanart2.png</fanart>
        <externallink>https://raw.githubusercontent.com/cavarepo13/cavaleirodiretolista/refs/heads/main/menu.xml</externallink>
    </channel>

    <!-- 🔍 SEÇÃO DE PESQUISA -->
    <channel>
        <name>[COLOR yellow]🔍 PESQUISAR CONTEÚDO[/COLOR]</name>
        <thumbnail>https://archive.org/download/addonfanart2/search.png</thumbnail>
        <fanart>https://archive.org/download/addonfanart2/addonfanart2.png</fanart>
        <pesquisa>https://raw.githubusercontent.com/cavarepo13/cavaleirodiretolista/refs/heads/main/filmes.xml</pesquisa>
        <pesquisa>https://raw.githubusercontent.com/cavarepo13/cavaleirodiretolista/refs/heads/main/filmes2.xml</pesquisa>
    </channel>

    <!-- 📺 SEÇÃO TV -->
    <channel>
        <name>[COLOR blue]📺 TV AO VIVO[/COLOR]</name>
        <thumbnail>https://archive.org/download/addonfanart2/addontv.png</thumbnail>
        <fanart>https://archive.org/download/addonfanart2/addonfanart2.png</fanart>
        <externallink>https://raw.githubusercontent.com/cavarepo13/cavaleirodiretolista/refs/heads/main/tvaovivo.xml</externallink>
    </channel>

    <channel>
        <name>[COLOR blue]📺 TV AO VIVO 2[/COLOR]</name>
        <thumbnail>https://archive.org/download/tvonline2_202508/tvonline2.png</thumbnail>
        <fanart>https://archive.org/download/addonfanart2/addonfanart2.png</fanart>
        <externallink>https://raw.githubusercontent.com/cavarepo13/cavaleirodiretolista/refs/heads/main/tvonline2.xml</externallink>
    </channel>
    
    <!-- 🎬 SEÇÃO FILMES -->
    <channel>
        <name>[COLOR green]🎬 FILMES[/COLOR]</name>
        <thumbnail>https://archive.org/download/addonfanart2/addonfilmes.png</thumbnail>
        <fanart>https://archive.org/download/addonfanart2/addonfanart2.png</fanart>
        <externallink>https://raw.githubusercontent.com/cavarepo13/cavaleirodiretolista/refs/heads/main/filmes.xml</externallink>
    </channel>

    <channel>
        <name>[COLOR green]🎬 FILMES 2[/COLOR]</name>
        <thumbnail>https://archive.org/download/tvonline2_202508/filmes2.png</thumbnail>
        <fanart>https://archive.org/download/addonfanart2/addonfanart2.png</fanart>
        <externallink>https://raw.githubusercontent.com/cavarepo13/cavaleirodiretolista/refs/heads/main/filmes2.xml</externallink>
    </channel>
    
    <!-- 🎞️ SEÇÃO SÉRIES -->
    <channel>
        <name>[COLOR orange]🎞️ SÉRIES[/COLOR]</name>
        <thumbnail>https://archive.org/download/addonfanart2/addonseries.png</thumbnail>
        <fanart>https://archive.org/download/addonfanart2/addonfanart2.png</fanart>
        <externallink>https://raw.githubusercontent.com/cavarepo13/cavaleirodiretolista/refs/heads/main/series.xml</externallink>
    </channel>

    <channel>
        <name>[COLOR orange]🎞️ SÉRIES 2[/COLOR]</name>
        <thumbnail>https://archive.org/download/tvonline2_202508/series2.png</thumbnail>
        <fanart>https://archive.org/download/addonfanart2/addonfanart2.png</fanart>
        <externallink>https://raw.githubusercontent.com/cavarepo13/cavaleirodiretolista/refs/heads/main/series2.xml</externallink>
    </channel>
            
</channels>
