<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<channels>

    <!-- Informações da lista principal -->
    <channels_info>
        <title>Menu Principal do Addon</title>
        <fanart>https://i.imgur.com/examplefanart.jpg</fanart>
    </channels_info>

    <!-- Categoria TV Ao Vivo -->
    <channel>
        <name>[B]📺 TV AO VIVO[/B]</name>
        <thumbnail>https://i.imgur.com/tvicon.png</thumbnail>
        <!-- Link para o arquivo que contém os canais de TV -->
        <externallink>https://raw.githubusercontent.com/cavarepo13/cavaleirodiretolista/refs/heads/main/menu.xml</externallink>
    </channel>

    <!-- Categoria Filmes -->
    <channel>
        <name>[B]🎬 FILMES[/B]</name>
        <thumbnail>https://i.imgur.com/movieicon.png</thumbnail>
        <!-- Link para o arquivo que contém os gêneros de filmes -->
        <externallink>https://raw.githubusercontent.com/cavarepo13/cavaleirodiretolista/refs/heads/main/menu.xml</externallink>
    </channel>

    <!-- Categoria Séries -->
    <channel>
        <name>[B]🎞️ SÉRIES[/B]</name>
        <thumbnail>https://i.imgur.com/seriesicon.png</thumbnail>
        <!-- Link para o arquivo que lista as séries -->
        <externallink>https://raw.githubusercontent.com/cavarepo13/cavaleirodiretolista/refs/heads/main/menu.xml</externallink>
    </channel>

</channels>
